
.auth__links
  ul
    li.footer__links--group
      a(href='#')
        i.fab.fa-instagram
    li.footer__links--group
      a(href='#')
        i.fab.fa-youtube
    li.footer__links--group
      i.fab.fa-twitter
  .footer__tag
    p
      span Made with Love &#x1F497;
