footer
  section
    .footer__wrapper
      .footer__container
        .footer__content
          .footer__details
            h3
              span Get the Low-down
            p Sign up with your email address to receive news and updates.
            form.footer__form
              input#email.email(type='text')
              button(type='submit') Submit
 
