extends layout.pug

block content
 .about__wrapper
  .about__container
    .about__content
      h3
        | With the hyper-convenience of modern life, many of us can only operate a microwave.
        | Enjoying a home-cooked meal is not a luxury&mldr; it&rsquo;s in your grasp!
      p
        | Food is any substance[1] consumed to provide nutritional support for an organism.
        | Food is usually of plant or animal origin, and contains essential nutrients, such as
        | carbohydrates, fats, proteins, vitamins, or minerals. The substance is ingested by an
        | organism and assimilated by the organism&apos;s cells to provide energy, maintain life, or
        | stimulate growth.
        | is any substance[1] consumed to provide nutritional support for an organism.
        | Food is usually of plant or animal origin, and contains essential nutrients, such as
        | carbohydrates, fats, proteins, vitamins, or minerals. The substance is ingested by an
        | organism and assimilated by the organism&apos;s cells to provide energy, maintain life, or
        | stimulate growth.
    .about__image
      img(src='../images/salad.jpg')
