extends layout.pug

block content
 main
   section
     .content__wrapper
       .content
         .content__image
           img(src='images/spoons.jpg ' alt='The spoons')
         .content__description
           h2 Stanfod Food and Recipes
           p
             | With the hyper-convenience of modern life, many of us can only operate a microwave.
             | A home-cooked meal is not a luxury, anyone can do it!
   section
     .blog__intro--wrapper
       .blog__intro
         h2 Recent Posts
         p
           | Find our favorite healthy recipes and cooking tips from the best cookbooks, food blogs, and websites to make cooking faster and easier.
           | 
   section
     .blog__post--wrapper
       .blog__post--grid
         each blog in blogList
          .blog__post
            .blog__image
              img(src=blog.file)
            .blog__details
              .blog__date
                span=blog.date.toLocaleString()
              .blog__title
                h3=blog.title
              .blog__description
                p=blog.description
              .blog__page
                a(href='/post/'+blog._id) Read More
          