extends layout.pug

block content
 .choosen__wrapper
   .choosen__container
     .choosen__image
       img(src=productChoosen.file)
     .choosen__details
       h3.choosen__title=productChoosen.title
       p.choosen__price="$ "+productChoosen.price
       p.choosen__description=productChoosen.description
       .cartTrigger
        form(method='post'  action="/shop/cart/"+productChoosen._id)
          label(for='qty') Quantity
          input.choosen__quantity(size='4' max='999' min='1' name="qty" value='1' type='number' step='1')
          input.cartButton(type='submit' value="Add to cart")


      

