
.inner{
 background-color: $background-color;
 .flash-messages{
  padding:1rem 2rem; 
    .flash{
     padding:0.4rem 1rem;
     padding-top:0.6rem;
     border-radius: 4px;;
     position: relative;
     font-size:1rem;
      button{
        background-color: transparent;
        font-size:1.5rem;
        color:black;
        // font-weight:bold;
        border:none;
        position:absolute;
        right:1rem;
        top:0.2rem;
        transition:0.3s all ease;
        &:hover{
        cursor:pointer;
        font-size:1.7rem;
        }
      }
    }
    .flash--success{
     background-color: rgb(198, 235, 198);
     border:1px solid green;
    }
    .flash--danger{
     background-color: rgb(228, 177, 177);
     border:1px solid rgb(230, 42, 42);
   }
  } 
}