

// Footer -----------------------------------------

.footer__wrapper{
  position: relative;
  top:4rem;
 .footer__container{
   background-color: $background-color;
   padding:5rem 0;
   .footer__content{
     background-image: url("../../images/green.jpg"); /* The image used */
     height: 500px; /* You must set a specified height */
     background-position: center; /* Center the image */
     background-repeat: no-repeat; /* Do not repeat the image */
     background-size: cover; 
     color:white;
     width:90%;
     margin:0 auto;
     border-radius:2px;
     box-shadow:0px 0px 10px rgb(133, 132, 132);
     .footer__details{
       width:40%;
       margin:4rem auto;
       text-align:center ;
       h3{
         font-size: 2rem;
         padding:1rem 0;
       }
       p{
         font-size: 1rem;
       }
       .footer__form{
         padding:3rem 0;
         input{
           padding:1rem;
           width:80%;
         }
         button{
           margin:2rem auto;
           background-color: $pink-color;
           padding:0.75rem;
           width:40%;
           color:black;
           display: block;
           border:1px solid rgb(230, 118, 137);
           font-size: 1rem;
           transition: 0.3s all ease;
           &:hover{
             cursor:pointer;
             background-color:rgb(245, 131, 122) ;
           }
         }
       }
     }
   }
    
    
   }
 }



@media screen and (max-width:768px){
 .footer__wrapper{
   .footer__container{
     background-color: $background-color;
     padding:5rem 0;
     .footer__content{
       .footer__details{
         width:60%;
         margin:4rem auto;
         text-align:center ;
       }
     }
   }
 }
}


@media screen and (max-width:518px){
 .footer__wrapper{
   .footer__container{
     background-color: $background-color;
     padding:5rem 0;
     .footer__content{
       .footer__details{
         width:90%;
         margin:4rem auto;
         text-align:center ;
       }
     }
   }
 }
}


// Mobile footer


// .footer__links{
//   position: relative;
//   top:10rem;
//   background-color:pink;
//   text-align: center;
//   margin:0 auto;
//   padding:0.5rem;
//   ul{
//    display:block;
//    li{
//     display:inline;
//     font-size: 1.5rem;
//     a{
//      padding:0.5rem;
//      text-decoration: none;
//      color:black;
//      font-weight:lighter;
//     }
//    }
//   }

//   .footer__tag{
//     padding:0.5rem;
//   }
//  }